project.Rproj
.Rproj.user/ED6D1F8F/sdb/s-2AA7FAFE/lock_file
.Rproj.user/ED6D1F8F/sdb/s-2AA7FAFE/D7D09504
.Rproj.user/ED6D1F8F/sdb/s-2AA7FAFE/C9F7041B
.Rproj.user/ED6D1F8F/sdb/prop/7604762E
.Rproj.user/ED6D1F8F/sdb/prop/INDEX
.RData
.Rhistory
*.pper